configure { port 1/1/c1 admin-state enable }
configure { port 1/1/c1 connector breakout c1-100g }
configure { port 1/1/c1/1 admin-state enable }
configure { port 1/1/c2 admin-state enable }
configure { port 1/1/c2 connector breakout c1-100g }
configure { port 1/1/c2/1 admin-state enable }
configure { port 1/1/c10 admin-state enable }
configure { port 1/1/c10 connector breakout c1-10g }
configure { port 1/1/c10/1 admin-state enable }

configure { router "Base" autonomous-system 4242424242 }
configure { router "Base" interface "to_Spine1" admin-state enable }
configure { router "Base" interface "to_Spine1" ipv6 }
configure { router "Base" interface "to_Spine1" port 1/1/c1/1 }
configure { router "Base" interface "to_Spine1" ipv6 forward-ipv4-packets true }
configure { router "Base" ipv6 router-advertisement interface "to_Spine1" admin-state enable }

configure { router "Base" interface "to_Spine2" admin-state enable }
configure { router "Base" interface "to_Spine2" ipv6 }
configure { router "Base" interface "to_Spine2" port 1/1/c2/1 }
configure { router "Base" interface "to_Spine2" ipv6 forward-ipv4-packets true }
configure { router "Base" ipv6 router-advertisement interface "to_Spine2" admin-state enable }

configure { router "Base" interface "to_frr5_internet" admin-state enable }
configure { router "Base" interface "to_frr5_internet" ipv6 }
configure { router "Base" interface "to_frr5_internet" port 1/1/c10/1 }
configure { router "Base" interface "to_frr5_internet" ipv6 forward-ipv4-packets true }
configure { router "Base" ipv6 router-advertisement interface "to_frr5_internet" admin-state enable }

configure { router "Base" bgp advertise-ipv6-next-hops ipv4 true }
configure { router "Base" bgp ebgp-default-reject-policy import false }
configure { router "Base" bgp ebgp-default-reject-policy export false }

configure { router "Base" bgp group "spine" peer-as 65000 }
configure { router "Base" bgp group "spine" family ipv4 true }
configure { router "Base" bgp group "spine" family ipv6 true }
configure { router "Base" bgp group "spine" dynamic-neighbor interface "to_Spine1" allowed-peer-as ["65000"] }
configure { router "Base" bgp group "spine" dynamic-neighbor interface "to_Spine2" allowed-peer-as ["65000"] }
configure { router "Base" bgp group "internet" peer-as 42 }
configure { router "Base" bgp group "internet" family ipv4 true }
configure { router "Base" bgp group "internet" family ipv6 true }
configure { router "Base" bgp group "internet" dynamic-neighbor interface "to_frr5_internet" allowed-peer-as ["42"] }



## Maximum number of routes to be learned from a peer
configure { router "Base" bgp group "internet" prefix-limit ipv6 maximum 100 }

## Apply limit only to routes accepted by import policies
#configure { router "Base" bgp group "internet" prefix-limit ipv6 post-import true }
##
##
##
## only allow dynamic neighbors matching the prefix
configure { router "Base" bgp group "internet" dynamic-neighbor match prefix 0.0.0.0/0 }
configure { router "Base" bgp group "internet" dynamic-neighbor match prefix ::/0 }

## Limit the number of dynamic neighbor (this can be applied per group as well)
configure { router "Base" bgp dynamic-neighbor-limit 100 }

configure { router "Base" bgp rapid-withdrawal true }


configure { router "Base" interface "system" ipv6 address 99::2 prefix-length 128 }

configure { policy-options policy-statement "export_system" entry 1 from protocol name [direct] }
configure { policy-options policy-statement "export_system" entry 1 action action-type accept }
configure { router "Base" bgp export policy ["export_system"] }
#
configure { redundancy multi-chassis peer 99::1 admin-state enable  }
configure { redundancy multi-chassis peer 99::1 source-address 99::2  }
configure { redundancy multi-chassis peer 99::1 sync admin-state enable }
configure { redundancy multi-chassis peer 99::1 sync local-dhcp-server true  }
#
configure { router "Base" dhcp-server dhcpv6 "dhcpv6_server" admin-state enable }
configure { router "Base" dhcp-server dhcpv6 "dhcpv6_server" failover admin-state enable }
configure { router "Base" dhcp-server dhcpv6 "dhcpv6_server" failover peer 99::1 sync-tag "tag1" }
configure { router "Base" dhcp-server dhcpv6 "dhcpv6_server" pool "ztp" options option 59 ascii-string "http://1.2.3.4:80/image.bin" }
configure { router "Base" dhcp-server dhcpv6 "dhcpv6_server" pool "ztp" { prefix 33::/64 } }
configure { router "Base" dhcp-server dhcpv6 "dhcpv6_server" pool-selection use-link-address }

configure { router "Base" interface "system" ipv6 local-dhcp-server "dhcpv6_server" }
